//COLORS
//COLORS
$clr-primary: hsl(347, 93%, 53%);
$clr-secondary: hsl(229, 98%, 26%);
$clr-dark: hsl(212, 64%, 9%);
$clr-white: hsl(0, 0%, 100%);

//BREAKPOINTS
$bp-tablet: 768px;
$bp-laptop: 1024px;
$bp-desktop: 1400px;
